#container{
    margin: 10px;
    width: 400px;
}
#container #input{
    border: 2px solid black;
    width: 400px;
    height: 200px;
    background-color: rgb(209, 209, 209);    
    
    display: flex;


}

input{
    width: 50px;
    margin: 10px;
}

input[name = "border-top-right-radius"], input[name = "border-bottom-right-radius"]{
    float: right;
}

#output{
    margin: 20px;
    font-size: 18px;
    align-self: center;

}

