#container{
    margin: 10px;
    width: 400px;
}
#container div{
    border: 2px solid black;
    width: 400px;
    height: 200px;

}

input{
    width: 50px;
    margin: 10px;
}

input[name = "border-top-right-radius"], input[name = "border-bottom-right-radius"]{
    float: right;
}

#output{

    width: 300px;
    height: 70px;

    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(209, 209, 209);
    
    padding: 50px;

    font-size: 18px;

}

